[submodule "PENF"]
  path = src/third_party/PENF
  url = https://github.com/ComFLOW-CFD/PENF.git
  branch = master
[submodule "BeFoR64"]
  path = src/third_party/BeFoR64
  url = https://github.com/ComFLOW-CFD/BeFoR64.git
  branch = master
[submodule "StringiFor"]
  path = src/third_party/StringiFor
  url = https://github.com/ComFLOW-CFD/StringiFor.git
  branch = master
[submodule "FoXy"]
  path = src/third_party/FoXy
  url = https://github.com/ComFLOW-CFD/FoXy.git
  branch = master